@font-face {
  font-family: lato;
  src: url("../res/Lato-Regular.ttf");
}

@font-face {
  font-family: lato-bold;
  src: url("../res/Lato-Bold.ttf");
}

@font-face {
  font-family: lato-xbold;
  src: url("../res/Lato-Black.ttf");
}

@font-face {
  font-family: kefa;
  src: url("../res/Kefa.ttc");
}

@font-face {
  font-family: recursive;
  src: url("../res/Recursive_Monospace-Regular.ttf");
}

:root {
  --main-green: #7cc69e;
  --nav-color: #f7cb5c;
  --nav-text: black;
  --nav-hover: white;
  --footer-color: #54426b;
  --main-blue: #3083dc;
  --background: url("../res/Sprinkle.svg");
  --font-header: lato-bold;
  --font: lato;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16pt;
  background: var(--background);
  width: 100vw;
  /* height: 100vh; */
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  color: var(--nav-text);
}

h1 {
  font-family: lato-xbold;
  font-size: 3.3rem;
}

h2 {
  font-family: var(--font-header);
}

h3 {
  font-family: var(--font-header);
}

img {
  display: block;
  width: 100%;
}

a {
  color: var(--main-blue);
}

a:active {
  color: var(--main-blue);
}

.logo {
  height: 3.5rem;
  width: auto;
  margin-left: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav div {
  width: 65vw;
  background-color: var(--nav-color);
  justify-self: end;
  height: 3.5rem;
  border-radius: 0 0 0 10px;
}
nav div ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  /* width: 60vw; */
  justify-content: space-around;
  font-family: lato;
  font-size: 1.25rem;
  margin: 0.75rem;
}

nav a {
  text-decoration: none;
  color: var(--nav-text);
  transition: ease-out color 0.5s;
}

nav a:hover {
  color: var(--nav-hover);
  transition: ease-in-out color 0.25s;
}

.green-box {
  background-color: var(--main-green);
  width: 33rem;
  padding: 0.5rem 1.5rem 1rem 1.5rem;

  /* left: 4em;
  top: 2em; */
  margin: 3rem 0 0 4rem;
}

.red-arrow {
  position: absolute;
  margin: 0 0 0 33rem;
  top: 5.5rem;
  max-width: 20rem;
}

.contact-button {
  background-color: var(--main-blue);
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 15px;
  color: white;
  font-family: var(--font-header);
  font-size: 1.5rem;
  margin: 1.5rem 0 0 4rem;
  transition: ease background-color 0.5s;
}

.contact-button:hover {
  background-color: #386da6;
  transition: ease background-color 0.5s;
}

footer {
  height: 5rem;
  background-color: var(--footer-color);
  color: white;
  font-family: var(--font);
  text-align: center;
  font-size: 1rem;
  /* margin: auto 0; */
}

/* Styles for wdd, se, and other */

h2.grid-page {
  text-align: center;
}

#card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 7rem;
  margin: 0 auto;
  gap: 5rem 7rem;
  place-content: center;
}

.card {
  /* width: 20rem; */
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-text {
  margin-left: 1rem;
  font-family: var(--font);
  color: black;
}

.card-button {
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--main-blue);
  border-radius: 15px 7px 15px 7px;
  width: 6rem;
  color: white;
  font-family: var(--font);
  text-decoration: none;
  transition: ease background-color 0.5s;
}

.card-button:hover {
  background-color: #386da6;
  transition: ease background-color 0.5s;
}

/* styles for project pages */

.project-page {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 15% 75% 20%;
}

.project-body {
  max-width: 70ch;
}
